:root {
    --primary-color: #3f6249;
    --secondary-color: #F3C677;
    --background-color: #aae8bd;
    --text-color: #2F2F2F;
    --border-radius: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
.medimate-font {
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: var(--primary-color);
    padding: 4px 12px;
  background-color: #F9FFE3; /* light yellow/green */
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.05);
  }
  #tagline {
    font-family: 'Times New Roman', Times, serif
    font-weight:500;
    font-size: 25px;
    color: var(--primary-color);
 }
body {
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
    padding: 20px;
    background: #ECF2CE;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header h1 {
    color: var(--primary-color);
    font-size: 2.5em;
    margin-bottom: 10px;
}

.section {
    background: #ECF2CE;
    padding: 32px;
    border-radius: var(--border-radius);
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.hidden {
    display: none;
}

input, button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    font-size: 16px;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #357ABD;
}

.medicine-input, .scan-section {
    margin-bottom: 30px;
    background-color: #f9ffe3;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

h2 {
    color: var(--primary-color);
    margin-bottom: 15px;
    font-size: 1.5em;
}
.medicine-input h2::after {
    content: ' 💊';
}

.scan-section h2::after {
    content: ' 🧾';
}

#reminders-list h2::after {
    content: ' ⏰';
}


#reminders-container {
    display: grid;
    gap: 15px;
}

.reminder-card {
    background: #fff;
    padding: 15px;
    border-radius: var(--border-radius);
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.reminder-card button {
    width: auto;
    padding: 8px 15px;
    background-color: #F28B82;
    border: none;
    border-radius: var(--border-radius);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
.reminder-card button:hover {
    background-color: #e6675e;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
    
    input, button {
        font-size: 14px;
    }
}